@import '../variables';

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  padding: 0 1em;
  background: $white;
  color: $white;
  align-items: flex-start;
  overflow-wrap: break-word;
  width: 100%;

  h1 {
    color: $sand;
  }

  button {
    color: $white;
    background-color: $blue;
  }
  .profile-pic {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  img#profile-pic {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
  }
  .profile-info {
    width: auto;
  }
  .application-info {
    justify-content: space-evenly;
  }
}

#apply-user-photo {
  border-radius: 50%;
  max-width: 200px;
}

.apply-profile-data {
  display: flex;
  justify-content: space-around;
}

.apply-profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-phone-city {
  display: flex;
}

#city {
  margin-left: 20px;
}

#job-title {
  text-align: center;
}

.apply-profile-bio {
  margin: 50px;
}

.apply-user-info {
  // margin: 1rem;
}
