@import 'variables';

.apply-modal {
  .profile-pic {
    text-align: center;
    & a {
      color: $sand;
      text-decoration: none;
    }
  }
}

.MuiBox-root {
  h1 {
    color: $sand;
  }

  h1:hover {
    color: $white;
  }
}

.profile-data {
  display: flex;
}

#user-photo {
  border-radius: 50%;
}

.profile-pic {
  text-align: center;
  & a {
    color: $sand;
    text-decoration: none;
  }
}
