@import 'variables';

.apply-modal {
  button {
    color: $white;
    background-color: $blue;
  }
  .profile-pic {
    text-align: center;
    & a {
      color: $yellow;
      text-decoration: none;
    }
  }
}

.MuiBox-root {
  h1 {
    color: $yellow;
  }

  h1:hover {
    color: $white;
  }
}

.profile-data {
  display: flex;
}

#user-photo {
  border-radius: 50%;
}


