@import 'variables';

.profile-bio {
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: left;
	min-width: 15vw;
	max-width: 15vw;
	margin-left: 4vw;
	margin-right: 2vw;
	background-color: #fff;
	// border: solid;
	// border-color: $blue;
	box-shadow: 3px 3px 10px #00000025;
	border-radius: 0.5rem;

	.MuiGrid-item {
		padding: 0;
	}
	.profile-pic {
		display: flex;
		align-items: center;
		max-height: 200px;
		max-width: 200px;
		width: 100%;
		margin-bottom: 2vh;
	}

	.profile-name {
		width: 100%;
	}
	.profile-links {
		width: 100%;
	}

	h4 {
		margin-top: 0;
		font-weight: 600;

		a {
			color: $blue;
			text-decoration: none;
		}
	}

	h3 {
		margin-top: -1.5rem;
	}
}
