@import 'variables';

.footer {
  background: $blue;
  height: 6vh;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: $white;
}
