@import 'variables';

.login-content {
	width: 50%;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	button {
		margin-top: 2rem;
	}
	#cancelLogin {
		margin-left: 1rem;
	}
}
