@import 'variables';

// --------------------- HOMEPAGE NAV BAR ----------------- //
.nav-home {
  @include navHome;
}

// --------------------- NORMAL NAV BAR ----------------- //
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue;
  height: 100px;
  width: 100%;
  z-index: 999;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;

  a {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    margin-left: 2rem;

    &:hover {
      color: $sand;
    }
  }
}

.nav-button {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin-right: 8rem;

  #login {
    margin-left: 2rem;
    color: $white;
    border-color: $white;
    text-transform: none;

    &:hover {
      color: $sand;
      border-color: $sand;
    }
  }

  #signup {
    margin-left: 2rem;
    color: $blue;
    background-color: $white;
    text-transform: none;

    &:hover {
      color: $sand;
      border-color: $sand;
    }
  }
}

#logo {
  text-decoration: none;
  font-size: 60px;
  font-family: $brand;
  font-weight: $bold;
  color: $white;
  margin: 8rem;
}
