@import 'variables';

.new-gig-content {
	width: 100%;
}

.new-gig-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	button {
		margin-top: 2rem;
	}
	#cancel-gig,
	#post-gig {
		margin-left: 1rem;
	}
}
