@import 'variables';

.new-project-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
	width: 100%;
	min-height: 70vh;
	border-radius: 1%;
	// background-color: #fff;
	// position: absolute;
	z-index: 0;
	// box-shadow: 5px 5px 10px #1c1c1c50;
	color: $white;

	img {
		align-self: center;
		max-width: 80%;
		height: auto;
		// z-index: 999;
		// position: absolute;
		// top: 9.5rem;
	}

	h1 {
		margin-top: 0;
	}

	.MuiTextField-root {
		min-width: 25%;
	}

	button {
		color: $white;
	}

	#post-project {
		background-color: $mint;
	}

	#cancel-project {
		border-color: $white;
		margin-left: 1rem;
	}
}

#desc-section {
	display: flex;
	justify-content: center;
	min-width: 100%;
}

#project-buttons {
	align-self: center;
}
