.cards {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 65%;
	h1 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.application-cards, .profile-cards {
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	overflow-wrap: break-word;
	cursor: pointer;
	.cards {
		justify-self: center;
		align-self: center;
		width: 100%;
		h1 {
			margin-top: 0;
		}
		
		p {
			margin-bottom: 0;
		}
		img {
			max-width: 500px;
		}
	}
	.application-name {
		padding: 1em;
	}
	.profile-pic {
		padding: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		max-width: 200px;
	}
	img#profile-pic {
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
	.profile-info {
		min-width: 400px;
	}
	.applicants-info {
		display: flex;
		justify-content: space-between;
	}
}