.cards {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 65%;

	h1 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.application-cards {
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	margin: 0 1em;
	overflow-wrap: break-word;
	.cards {
		justify-self: center;
		align-self: center;
		width: 100%;
		h1 {
			margin-top: 0;
		}
		
		p {
			margin-bottom: 0;
		}
		img {
			max-width: 500px;
		}
	}
	.profile-pic {
		padding: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img#profile-pic {
		max-width: 150px;
		height: auto;
		border-radius: 50%;
	}
	.profile-info {
		min-width: 400px;
	}
}