@import 'variables';

.cards {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 65%;
	h1 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.profile-cards {
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	overflow-wrap: break-word;
	margin-right: 7vw;
	.MuiCardHeader-title {
		text-align: left;
		font-size: 1.3rem;
	}
	.MuiCardHeader-root {
		padding-bottom: 0;
	}
	// .MuiCardContent-root {
	// 	padding-top: 0;
	// }
	#saved {
		min-width: 70%;
	}
	.MuiCardActionArea-root {
		cursor: pointer;
	}
	.see-more {
		font-size: small;
	}
	.stretch {
		display: flex;
		justify-content: space-between;
	}
	.cards {
		justify-self: center;
		align-self: center;
		width: 100%;
		h1 {
			margin-top: 0;
		}

		p {
			margin-bottom: 0;
			margin-top: 0;
		}
		img {
			max-width: 500px;
		}
	}
	.application-name {
		padding: 1em;
	}
	img#profile-pic {
		width: 100%;
		height: auto;
		border-radius: 50%;
	}
	.profile-pic-sm {
		margin: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		max-width: $profile-sm;
	}
	.profile-info {
		min-width: 400px;
	}
	.applicants-info {
		display: flex;
		justify-content: space-between;
	}
}
