@import 'variables';

.portfolio-modal, .application-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: justify;
	padding: 0 1em;
	background: $blue;
	color: $white;
	align-items: flex-start;
	overflow-wrap: break-word;
	h1 {
		color: $sand;
	}
	button {
		color: $white;
		background-color: $white;
	}
	.profile-pic {
		padding: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img#profile-pic {
		max-width: 150px;
		height: auto;
		border-radius: 50%;
	}
	.profile-info {
		width: auto;
	}
	.application-info {
		justify-content: space-evenly;
	}
}
