@import './variables.scss';

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  #search-bar {
    width: 26rem;
  }

  button {
    background-color: #182c5b;
    color: #f9f9f9;
    font-weight: $bold;
    margin-left: 2rem;
  }

  button:hover {
    background-color: $sand;
    color: $blue;
    font-weight: $bold;
    margin-left: 2rem;
  }
}
