@import 'variables';

.profile-bio {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: left;
	min-width: 12vw;
	max-width: 12vw;
	margin-left: $margin6;
	margin-right: 2vw;

	.MuiGrid-item {
		padding: 0;
	}
	.profile-pic {
		display: flex;
		align-items: center;
		max-height: 200px;
		max-width: 200px;
		width: 100%;
		margin-bottom: 2vh;
	}
	img#profile-pic {
		border-radius: 50%;
		width: 100%;
		height: auto;
	}
	.profile-name {
		width: 100%;
	}
	.profile-links {
		width: 100%;
	}
}
