@import url('https://use.typekit.net/nia1hqe.css');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}
.name {
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#demo-positioned-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.profile-info {
  display: flex;
}

#demo-positioned-button > div > div > div {
  border: 1px solid white;
}

#demo-positioned-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  margin-top: 42px;
}
