// FONTS
$brand: 'Assistant', sans-serif;
$text: 'Assistant', sans-serif;
$reg: 400;
$bold: 700;

// COLORS
$white: #f9f9f9;
$black: #26242a;
$blue: #223d55;
$thiccblue: #182c5b;
$invis: #182c5b00;
$sand: #e3d3ca;
$brown: #3d2b2a;
$grey: #505050;
$mint: #1d869d;

// SIZES
$profile-md: 150px;
$profile-sm: 75px;
$nav-height: 10vh;
$footer-height: 6vh;
$footer-margin: 2vh;
$header-height: 19vh;
$header-image-height: 18vh;
$profile-page-margin: 2vh;
// $profile-page-height: 100vh - sum($nav-height,$footer-height,$footer-margin,$header-height,$header-image-height, $profile-page-margin);

$margin6: 6vw;

// .MuiButton-root
@mixin outline {
	color: $white;
	border-color: $white;
}

// .MuiButton-root
@mixin solid {
	color: $white;
	background-color: $blue;
}

@mixin solidwhite {
	color: $blue;
	background-color: $white;
}

// --------------------- HOMEPAGE NAV BAR ----------------- //
@mixin navHome {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $invis;
	min-height: 10vh;
	width: 100%;
	z-index: 999;
	position: fixed;

	a {
		font-size: 22px;
		font-weight: 600;
		color: $white;
		text-decoration: none;
		margin-left: 2rem;
	}

	#find-work {
		margin-left: 20%;
	}

	a:hover {
		color: $sand;
	}

	#login {
		@include outline;
		border: 2px solid $white;
		color: $white;
		font-weight: 600;
		// margin-left: 2rem;
		height: 43px;

		&:hover {
			color: $sand;
			border-color: $sand;
		}
	}

	#signup {
		@include solid;
		font-weight: 600;
		margin-right: 8rem;
		margin-left: 1rem;
		height: 43px;

		&:hover {
			color: $sand;
		}
	}

	#logo-text {
		text-decoration: none;
		font-size: 40px;
		font-family: lato;
		font-weight: 900;
		color: $blue;
		margin: 0 0 0 6rem;
	}
}
