// FONTS
$brand: 'Assistant', sans-serif;
$text: 'Roboto', sans-serif;
$reg: 400;
$bold: 700;

// COLORS
$white: #f9f9f9;
$black: #26242a;
$blue: #182c5b;
$invis: #182c5b00;
$sand: #e3d3ca;
$brown: #3d2b2a;

// .MuiButton-root
@mixin outline {
  color: $white;
  border-color: $white;
}

// .MuiButton-root
@mixin solid {
  color: $white;
  background-color: $blue;
}

@mixin solidwhite {
  color: $blue;
  background-color: $white;
}

// --------------------- HOMEPAGE NAV BAR ----------------- //
@mixin navHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $invis;
  height: 90px;
  width: 100%;
  z-index: 999;
  position: fixed;

  a {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    margin-left: 2rem;
  }

  #find-work {
    margin-left: 20%;
  }

  a:hover {
    color: $sand;
  }

  #login {
    @include outline;
    margin-left: 2rem;

    &:hover {
      color: $sand;
      border-color: $sand;
    }
  }

  #signup {
    @include solid;
    margin-right: 4rem;
    margin-left: 1rem;

    &:hover {
      color: $sand;
    }
  }

  #logo {
    text-decoration: none;
    font-size: 50px;
    font-family: $brand;
    font-weight: 800;
    color: $blue;
    margin: 0 0 0 6rem;
  }
}
