// FONTS
$brand: 'Assistant', sans-serif;
$text: 'Assistant', sans-serif;
$reg: 400;
$bold: 700;

// COLORS
$white: #f9f9f9;
$black: rgb(38, 36, 42);
$blue: #223d55;
$thiccblue: #182c5b;
$invis: #182c5b00;
$sand: #e3d3ca;
$brown: #3d2b2a;
$grey: #505050;

// .MuiButton-root
@mixin outline {
	color: $white;
	border-color: $white;
}

// .MuiButton-root
@mixin solid {
	color: $white;
	background-color: $blue;
}

@mixin solidwhite {
	color: $blue;
	background-color: $white;
}

// --------------------- HOMEPAGE NAV BAR ----------------- //
@mixin navHome {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $invis;
	height: 90px;
	width: 100%;
	z-index: 999;
	position: fixed;

	a {
		font-size: 20px;
		font-weight: $reg;
		color: $white;
		text-decoration: none;
		margin-left: 2rem;
	}

	#find-work {
		margin-left: 20%;
	}

	a:hover {
		color: $sand;
	}

	#login {
		@include outline;
		margin-left: 2rem;

		&:hover {
			color: $sand;
			border-color: $sand;
		}
	}

	#signup {
		@include solid;
		margin-right: 8rem;
		margin-left: 1rem;

		&:hover {
			color: $sand;
		}
	}

	#logo {
		text-decoration: none;
		font-size: 60px;
		font-family: $brand;
		font-weight: $bold;
		color: $blue;
		margin: 0 0 0 8rem;
	}
}
