@import './pages/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  background-color: $white;
  font-family: $text;
  color: $black;
}

code {
  font-family: 'Assistant', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
