@import './pages/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: $white;
  font-family: $text;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
