@import './pages/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Roboto:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
	box-sizing: border-box;
}

.App {
	min-height: 90vh;
}

.page-container {
	min-height: 47vh;
}

body {
	margin: 0;
	background-color: $white;
	font-family: $brand;
	color: $black;
	p,
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: 'Assistant';
	}

	.modal-button {
		background-color: #1d869d;
		color: $white;
		text-transform: none;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.modal-button:hover {
		background-color: $white;
		color: $black;
		text-transform: none;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.MuiCardActionArea-root {
		min-height: 1rem;
	}
	.MuiButton-outlined:hover {
		background-color: $white;
		color: $lightblue;
		border: 1px solid $lightblue;
	}
	.MuiButton-containedPrimary:hover {
		background-color: $lightblue;
	}
	.MuiButton-root {
		text-transform: none;
	}
	.builtw-grid {
		aspect-ratio: 1;
	}
	.builtw-img {
		object-fit: contain;
		padding: 2rem;
		max-width: 20rem;
	}
}

.apply-text-icon {
	display: flex;
	justify-content: flex-end;

	h4 {
		margin-bottom: 0;
	}
}

.apply-text {
	display: flex;
	justify-content: flex-end;
	text-align: right;

	p {
		margin: 0 0;
	}

	h3 {
		margin-bottom: 0;
	}
}

.profile-content,
.application-content,
.posting-content,
.profile-cards,
.application-cards {
	min-width: 70%;

	.description {
		color: $grey;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin-top: 10px;
		line-height: 1.5rem;
	}
	.profile-pic {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		max-width: $profile-md;
	}
	.MuiCard-root {
		align-content: flex-start;
		margin: 1rem;
		border-radius: 13px;
		box-shadow: 3px 3px 10px #00000025;
	}
	.MuiButton-root {
		text-transform: none;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.MuiButton-containedPrimary {
		background-color: $blue;
		color: $white;
	}
	.MuiButton-root:hover {
		background-color: $lightblue;
	}
	.MuiButton-containedPrimary {
		background-color: $blue;
	}
	.MuiButton-outlinedPrimary {
		background-color: $white;
		color: $blue;
		border: 1px solid $blue;
	}

	.MuiButton-outlined:hover {
		background-color: $white;
		color: $lightblue;
		border: 1px solid $lightblue;
	}
	.MuiCard-root {
		align-content: flex-start;
	}
	.MuiCardActions-root {
		justify-content: space-between;
	}
}

code {
	font-family: 'Assistant', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Increase the specificity */
// .Button:disabled {
//   color: white;
// }
