.gig-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem auto 20px auto;
  max-width: 1250px;
}

.gig-img-container {
  display: flex;
  gap: 20px;
}

.gig-img {
  max-width: 300px;
  box-shadow: 0px 3px 8px rgba(8, 35, 48, 0.25);
}

#gig-jobtitle {
  margin: 0.5rem 0 0.6rem 0;
}

#gig-desc-label {
  align-self: flex-start;
  margin-top: 2.5rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.gig-desc {
  line-height: 1.7rem;
}

.gig-content p {
  margin: 0.5rem 0 1.5rem 0;
}

#back-btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
