@import 'variables';

.main-content {
  color: #26242a;
}

.jobsearch-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.jobsearch-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  padding: 1rem 0 1rem 0;
  width: 100%;
  // box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.2);
  box-shadow: 0px 3px 8px rgba(8, 35, 48, 0.05);
  gap: 30px;
}

.jobsearch-search input {
  font-family: 'Assistant';
  width: 13rem;
  border-right: 1px solid #f0f0f0;
  background: #fbfbfb;
  padding: 0;
  height: 40px;
}

textarea:focus,
input:focus {
  outline: none;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.checkboxes {
  text-align: left;
  width: 25%;
  padding: 0 9rem 0 3rem;
}

.checkboxes svg {
  color: $blue;
}

.checkboxes hr {
  border: 1px solid #f0f0f0;
}

.checkboxes-section {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 0px 18px 0px;
}

.apply-btn {
  justify-content: center;
}

#recommended-num {
  color: #aaaaaa;
  margin-left: 5px;
  font-weight: 600;
}

.searchResults-container {
  margin-top: 18px;
}

.search-results-img {
  border-radius: 50%;
  width: 25% !important;
  height: 25%;
}

.searchResults-container {
  & h4 {
    text-align: left;
  }
}

.card-content {
  margin: 2rem;
}

.cart-text {
  padding: 1rem 0 1rem 0 !important;
}

div .salary-slider {
  font-family: 'Assistant';
  color: black;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;

  & #salary {
    font-weight: 700;
  }

  & #salary-range {
    font-weight: 600;
  }
}

.searchResults div,
.searchResults p {
  font-family: 'Assistant' !important;
}

.checkboxes-section span {
  font-size: 15px;
}

.jobsearch-search fieldset {
  border: none;
}
