@import 'variables';

.main-content {
  color: #26242a;
}

.jobsearch-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.jobsearch-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  height: 80px;
  margin: 0;
  width: 100%;
  // box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.2);
  box-shadow: 0px 3px 8px rgba(8, 35, 48, 0.05);
  gap: 30px;
}

// .jobsearch-search
//   .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
//   padding: 10px 14px;
// }

.jobsearch-search input {
  font-family: 'Assistant';
  width: 13rem;
  border-right: 1px solid #f0f0f0;
  background: #fbfbfb;
  padding: 0;
  height: 40px;
}

textarea:focus,
input:focus {
  outline: none;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.checkboxes {
  text-align: left;
  width: 25%;
  padding: 0px 50px 0px 60px;
}

// .checkboxes,
// .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
//   font-family: 'Assistant' !important;
// }

.checkboxes svg {
  color: $blue;
}

.checkboxes hr {
  border: 1px solid #f0f0f0;
}

.checkboxes-section {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 0px 18px 0px;
}

// .css-1t6e9jv-MuiCardActions-root {
//   justify-content: center;
// }

#recommended-num {
  color: #aaaaaa;
}

.searchResults-container {
  margin-top: 18px;
}

// .css-1t6e9jv-MuiCardActions-root {
//   justify-content: center;
// }

// .css-46bh2p-MuiCardContent-root {
//   text-align: left;
// }

// .css-46bh2p-MuiCardContent-root {
//   text-align: left;
//   padding: 16px 0 !important;
// }

// .css-o69gx8-MuiCardMedia-root {
//   border-radius: 50%;
//   width: 25% !important;
//   height: 25%;
// }

.searchResults-container {
  & h4 {
    text-align: left;
  }
}

// #root > div > div.jobsearch-content > form > div.MuiBox-root.css-1v5z18m {
//   width: 150px;
// }

// input,
// fieldset {
//   border: transparent;
// }

// job type drop down
// #root
//   > div
//   > div.jobsearch-content
//   > form
//   > div.MuiBox-root.css-ece9u5
//   > div
//   > div
//   > fieldset {
//   border: transparent;
// }

div .salary-slider {
  font-family: 'Assistant';
  color: black;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;

  & #salary {
    font-weight: 700;
  }

  & #salary-range {
    font-weight: 600;
  }
}

// drop down text
// #menu-
//   > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
//   > ul
//   > li {
//   font-family: 'Assistant';
// }

// #root
//   > div
//   > div.jobsearch-content
//   > form
//   > div.MuiBox-root.css-ece9u5
//   > div
//   > div
//   > div {
//   font-family: 'Assistant';
// }

// .css-1ri6ub7-MuiPaper-root-MuiCard-root {
//   padding: 25px 35px;
//   border-radius: 10px;
//   font-family: 'Assistant' !important;
// }

.searchResults div,
.searchResults p {
  font-family: 'Assistant' !important;
}

.checkboxes-section span {
  font-size: 15px;
}

.jobsearch-search fieldset {
  border: none;
}
