@import 'variables';

.landing-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/landing-page-image-gradient.png');
  background-size: cover;
  background-position: center right;
}

#white-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  align-items: left;
  margin: 6rem 0 0 7rem;
  width: 40%;
  height: 78vh;
  border-radius: 1%;
  background: rgba(255, 255, 255, 0.61);
  position: absolute;
  z-index: 0;

  h1 {
    font-size: 50px;
    font-weight: 800;
    color: $blue;
    letter-spacing: 0.5px;
    margin: 0 10% 0 10%;
  }

  p {
    color: #1c1c1c80;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 2rem 10% 2rem 10%;
    font-size: 19px;
  }

  h1,
  p {
    text-align: left;
  }

  .get-paid {
    margin-bottom: 2.5rem;
  }

  img {
    opacity: 75%;
    align-self: center;
    max-width: 30rem;
    margin-bottom: 0;
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 1900px) {
  #white-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9rem 0 0 7rem;
    min-width: 35%;
    min-height: 60vh;
    border-radius: 1%;
    background: rgba(255, 255, 255, 0.61);
    position: absolute;
    z-index: 0;

    h1,
    p {
      margin: 0 10% 0 10%;
      text-align: left;
    }
  }
}
