@import 'variables';

.landing-wrapper {
	display: flex;
	flex-direction: column;
}

#landing-image img {
	margin-left: 0;
	height: 100vh;
	position: fixed;
	z-index: 0;
}

.landing-content {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	position: absolute;
	z-index: 1;

	h1 {
		margin: 0;
	}

	.title-text {
		margin: 10rem 0 0 5rem;
		font-family: $brand;
		font-size: 45px;
		font-weight: $bold;
		color: $blue;
	}

	.search-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 2rem;

		input {
			color: $black;
			width: 39rem;
		}

		a {
			background-color: $yellow;
			color: $blue;
			font-family: $text;
			font-weight: $bold;
			margin-left: 2rem;
		}
	}
}
