@import 'variables';

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $blue;
	height: 100px;
	width: 100%;
	z-index: 999;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;

	a {
		font-size: 20px;
		font-weight: $reg;
		color: $white;
		text-decoration: none;
		margin-left: 2rem;
	}
}

.nav-button {
	display: flex;
	justify-content: flex-end;
	width: 20%;
	margin-right: 8rem;

	button {
		font-weight: $bold;
		margin-left: 2rem;
	}

	a {
		font-weight: $bold;
	}
}

#logo {
	text-decoration: none;
	font-size: 60px;
	font-family: $brand;
	font-weight: $bold;
	color: $yellow;
	margin: 8rem;
}
