@import 'variables';

.profile-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.profile-bio {
	display: flex;
	justify-content: space-evenly;
	width: 65%;
}
