@import 'variables';

// .profile-bio {
// 	padding-top: 1rem;
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-evenly;
// 	text-align: justify;
// 	max-width: 1500px;
// 	.MuiGrid-item {
// 		padding: 0;
// 	}
// 	.profile-pic {
// 		display: flex;
// 		align-items: center;
// 		max-height: 200px;
// 		max-width:  200px;
// 		width: 25%;
// 	}
// 	img#profile-pic {
// 		border-radius: 50%;
// 		width: 100%;
// 		height: auto;
// 	}
// 	.profile-name {
// 		width: 45%;
// 	}
// 	.profile-links {
// 		width: 15%;
// 	}
// }

.profile-content,
.application-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-right: 6vw;
	margin-top: 2vh;
	min-width: 100%;

	#profile-title {
		margin-top: 0;
		margin-left: 1vw;
	}

	.MuiCard-root {
		padding: 0;
		h1 {
			margin-top: 0;
		}
	}
	.MuiCardActionArea-root {
		cursor: pointer;
		overflow: hidden;
		aspect-ratio: auto 15/12;
		justify-content: flex-start;
	}
	.profile-bio {
		word-wrap: break-word;
		align-self: flex-start;
		margin-top: 2vh;
	}
}
