// FONTS
$brand: 'Assistant', sans-serif;
$text: 'Roboto', sans-serif;
$reg: 400;
$bold: 700;

// COLORS
$white: #f9f9f9;
$black: #26242a;
$lightblue: #75a4ce;
$blue: #223d55;
$thiccblue: #182c5b;
$invis: #182c5b00;
$sand: #e3d3ca;
$brown: #3d2b2a;
$mint: #1D869D;
$grey: #707070;

// SIZES
$profile-md: 150px;
$profile-sm: 75px;

// .MuiButton-root
@mixin outline {
	color: $white;
	border-color: $white;
}

// .MuiButton-root
@mixin solid {
	color: $white;
	background-color: $blue;
}
