// FONTS
$brand: 'Assistant', sans-serif;
$text: 'Roboto', sans-serif;
$reg: 400;
$bold: 700;

// COLORS
$white: #f9f9f9;
$black: #26242a;
$blue: #182c5b;
$invis: #182c5b00;
$sand: #e3d3ca;
$brown: #3d2b2a;

// .MuiButton-root
@mixin outline {
	color: $white;
	border-color: $white;
}

// .MuiButton-root
@mixin solid {
	color: $white;
	background-color: $blue;
}
